* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
  }
  h2,
  p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
  }
  
  h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
  }
  
  main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #470808, #f8ab93);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .glass {
    background: white;
    height: 83vh;
    width: 80%;
    align-self: flex-start;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(3rem);
    display: flex;
    margin-top: 80px;
    flex-direction: row;
  }
  .circle1,
  .circle2 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle1 {
    top: 5%;
    right: 5%;
  }
  .circle2 {
    bottom: 5%;
    left: 5%;
  }
  .dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /*text-align: match-parent;*/
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
  }
  .link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
  }
  .link h2 {
    padding: 0rem 2rem;
  }
  
  .games {
    flex: 2;
  }
  
  .pro {
    background: linear-gradient(to right top, #79340c, #eb9f6c);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    position: relative;
  }
  
  .pro img {
    position: absolute;
    top: -10%;
    right: 10%;
  }
  .pro h2 {
    width: 40%;
    color: white;
    font-weight: 600;
  }
  
  /* GAMES */
  .status {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  
  .status input {
      margin-left: 2rem;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
  }
  
  .games {
    margin: 2rem;
    margin-top: 2rem;;
    margin-bottom :2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .card {
    display: flex;
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
  }
  
  .progress {
    background: linear-gradient(to right top, #310303, #f0a295);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
  }
  .progress::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 60%;
  }
  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .percentage {
    font-weight: bold;
    background: linear-gradient(to right top, #f39090, #eea1a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }



  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/**{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}*/
.sensor{
  overflow: hidden;
  padding: 0 20px;
  background: #350303;
}
::selection{
  background: rgba(23,162,184,0.3);
}
.wrapper{
  max-width: 700px;
  width: 100%;
  margin: 200px auto;
  padding: 25px 30px 30px 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}
.wrapper header{
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
}
.wrapper nav{
  position: relative;
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
}
.wrapper nav label{
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: #f31414;
  font-size: 17px;
  border-radius: 5px;
  margin: 0 5px;
  transition: all 0.3s ease;
}
.wrapper nav label:hover{
  background: rgba(212, 151, 122, 0.808);
}
#home:checked ~ nav label.home,
#blog:checked ~ nav label.blog,
/*#code:checked ~ nav label.code,
/*#help:checked ~ nav label.help,*/
  #about:checked ~ nav label.about{
  color: #fff;
}
nav label i{
  padding-right: 7px;
}
nav .slider{
  position: absolute;
  height: 100%;
  width: 35%;
  left: 0;
  bottom: 0;
  z-index: 0;
  border-radius: 5px;
  background: #500202;
  transition: all 0.1s ease;
}
input[type="radio"]{
  display: none;
}
#blog:checked ~ nav .slider{
  left: 34%;
}
/*#code:checked ~ nav .slider{
  left: 40%;
}
#help:checked ~ nav .slider{
  left: 60%;
}*/
#about:checked ~ nav .slider{
  left: 68%;
}
section .content{
  display: none;
  background: #fff;
}
#home:checked ~ section .content-1,
#blog:checked ~ section .content-2,
/*#code:checked ~ section .content-3,
#help:checked ~ section .content-4,*/
#about:checked ~ section .content-5{
  display: block;
}
section .content .title{
  font-size: 21px;
  font-weight: 500;
  margin: 30px 0 10px 0;
}
section .content p{
/*text-align: justify;*/
display: flex;
}
.chart{
    height: 200px;
}
