.scroll{
    height: 236px;
    overflow-y: auto;   
 }
 .tabs {
     display: flex;
     flex-wrap: wrap;
     height: 400px;
     width: 700px;
   }
    
   .tabs label {
     order: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 1rem 2rem;
     margin-right: 0.2rem;
     cursor: pointer;
     background-color: rgb(161, 10, 36);
     font-weight: bold;
     transition: background ease 0.3s;
   }
    
   .tabs .tab {
     order: 9;
     flex-grow: 1;
     width: 100%;
     height: 100%;
     display: none;
     padding: 1rem;
     background: #fff;
     padding: 20px;
     box-shadow: -10px 10px 0px 0px black;
   }
    
   .tabs input[type="radio"] {
     display: none;
   }
    
   .tabs input[type="radio"]:checked + label {
     background: #fff;
   }
    
   .tabs input[type="radio"]:checked + label + .tab {
     display: block;
   }
    
   @media (max-width: 465px) {
     .tabs .tab,
     .tabs label {
      order: initial;
     }
    
     .tabs label {
       width: 100%;
       margin-left: 50px;
     }
   }
    
   body {
     background: rgb(192, 255, 197);
     min-height: 100vh;
     box-sizing: border-box;
     padding-top: 10vh;
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
     font-weight: 300;
     line-height: 1.5;
     max-width: 60rem;
     margin: 0 auto;
     font-size: 110%;
     display: flex;
     justify-content: center;
     align-items: center;
   }